.error-page {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error-page-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  margin: auto;
}


.topbar {
  min-height: 10vh;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topbar-recipe-recommendation {
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}

.topbar-recipe-recommendation:hover {
  color: #61dafb;
  background-color: #333842;
  cursor: pointer;
}

.mainbody {
  min-height: 90vh;
  background-color: white;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 4px;
}





