.error-page {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.error-page-header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  margin: auto;
}


.topbar {
  min-height: 12vh;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topbar-button {
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
}

.topbar-button:hover {
  color: #61dafb;
  background-color: #333842;
  cursor: pointer;
}

.mainbody {
  min-height: 88vh;
  background-color: white;
}

.home {
  text-align: center;
  font-size: 24px;
  margin-top: 30%;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 4px;
}

.button-container {
  width: 100%;
  display: flex;
  padding: 0 8px;
}

.perishable-prompt-header {
  text-align: center;
  margin-top: 8px;
  font-size: 24px;
}

.perishable-button {
  margin-right: 16px;
  padding: 4px 8px;
}

.perishable-form {
  padding: 16px;
}

.perishable-field {
  margin: 8px;
}

.perishable-field-item-input {
  width: max-content;
}

.perishable-field-dates {
  display: flex;
  gap: 16px;
  margin: 8px 0;
}

.expiring-list-header {
  text-align: center;
  margin: 8px;
  font-size: 24px;
}

.expiring-list {
  padding: 16px;
}

.expiring-item {
  margin: 8px 0;
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}





